.image-headline {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

p img {
  width: 24px;
}

.image-content {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.arrow-icon {
  width: 64px;
}

.add-button img {
  width: 32px;
  border: 0.1px solid transparent;
  border-radius: 24px;
}

.basket-buy-position img {
  width: 24px;
}

.trash {
  width: 20px;
}

.plus-minus {
  width: 20px;
  border-radius: 10px;
  background-color: orange;
}

.responsive-basket img {
  width: 32px;
}
