.basket {
    position: fixed;
    right: 0;
    top: 88px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-content: center;
    width: 220px;
    height: 100vh;
    align-items: center;
}