.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0px 8px orange;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .contact-info {
    margin-bottom: 30px;
  }

  .contact-info p {
    margin: 5px 0;
    color: #555;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 15px;
    font-weight: bold;
    color: #444;
  }

  input,
  textarea {
    margin-top: 5px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
  }

  textarea {
    min-height: 120px;
  }

  button {
    margin-top: 20px;
    margin-bottom: 32px;
    padding: 12px;
    background-color: orange;
    color: rgb(37, 37, 37);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(250, 194, 89);
  }

  @media (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 20px;
    }
  }